.profile-container{
    display: flex;
    width: 50%;
    font-weight: 500;
    padding: 10px;
    align-items: center;
}
.profile-image{
    height: 100px;
    width: 100px;
    padding: 10px;
}
.profile-details{
    
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile-name{
    margin: 0;
    font-size: 25px;
}
.profile-stats{
    display: flex;
    justify-content: space-between;
}

.desc{
    font-size: 16px;
}